img {width: 10%}


.img-fluid {
    max-width: 100%; 
    height: auto;
}


.carousel-item {
    transition-timing-function: ease-in-out;
    padding-bottom: 45px;
}

.title {
    background-color: #1c3b19;
    color: #f1f1f1;
    padding: 7px;
    
    
}

ul li {
    list-style: none;
    text-transform: uppercase;
    color: #1c3b19;

}

small {
    font-size: .775em;
    padding: 10px;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: bolder;
    color: #1c3b19;
}

h2{
    font-weight: bolder;
    color: #21431e;
}

.list-group-item {
    font-size: .775em;
    
}



.card {
    flex-direction: row;
    padding-bottom: 10px;
  }
  .card img {
    width: 25%;
    height: 10%;
  }

  .footer-distributed {
    background-color: #a1df75;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 55px 50px;
    margin-top: 60px;
    
  }

  
.socmed-icons {
  margin-bottom: -47px;
}

  i{
  margin: 5px;
}

.footer-left {
  color: #f1f1f1;


  p {
    margin-left: 52px;
    margin-top: 13px;
  }

  ul li {
    align-items: end;
  }
}

 

  
  


  

  
 
  
 
  

  
 
  
 
 
  
 
  
  
  
  
  
  
 


